

body{
    background-color: #4d7c0f;





}








h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
    padding: 1rem;

}







textarea {
    border: 2px solid black;
    border-radius: 1rem;
    width: 30%;
    height: 10vh;
    margin: auto;
    display: flow-root;
    padding: 1rem;
}
    

button {
    margin: auto;
    display: block;
    font-size: medium;
    font-weight: bolder;
    border-width: 0.1rem;

}
    
#output{
    margin: auto;
    border: 3px solid black;
    width: 50%;
    padding: 1rem;
    background-color: white;
    height: 3rem;
    border-radius: 1rem;

}
    
footer {
    bottom: 0;
    width: 50%;
    padding: 1rem;
    background-color: #eab308 ;
    text-align: center;
    margin: auto;
    border-radius: 1rem;
}

#btn-id {
    font-weight: bold;
    background-color:  #eab308;
    color: whitesmoke;
    width: 7rem;
    margin: 1rem;

}